.myTable > tbody > tr {
    font-size: 16px; /* Adjust this value to your desired font size */
  }
.smallColumn {
    width: 15%;
}
  
.largeColumn {
    width: 70%;
}

.centerContent {
    align-items: center;
  }