
.layout-container {
background-color: var(--amplify-colors-background-secondary);
}


.page-container {
    padding-right: 10px;
    padding-left: 195px;
    padding-top: 50px;
    transition: padding 0.5s;
    overflow-x: hidden;
}

.page-container.dark {
    padding-right: 10px;
    padding-left: 195px;
    padding-top: 50px;
    transition: padding 0.5s;
    overflow-x: hidden;
    background-color: #072f47;
    

}


@media (max-width: 1024px) {
    .page-container {
        padding: 30px;
        padding-left: 20px;
        padding-top: 50px;
        transition: padding 0.5s;
    }
}



.card-title {
font-weight: 600;
}

    

