.vessel-page-container{
    max-width: 2000px;
    margin: auto;
    margin-top: 15px;
}
.amplify-card{
    background: #083450!important;
}

.title {
    background: #FAFAFA
}
.title.dark {
    background: #1A223F;
    color: #fff;
}
h5
{
    padding: 0;
}