.amplify-table {
  overflow: hidden;
  transform: translateY(-3px);
}


.amplify-table > thead > tr > th {
  color: black;
  padding-top: 0px;
  font-size: 14px;
  border-color: #00c9ff;
  border-width: 2px;

}

.amplify-table > tbody > tr > td {
  color: black;
  border-color: #d9d9d6;
  border-width: 1px;
  border-style:dashed;
  border-left: none;
  border-right: none;
  padding: 10px;
  font-size: 13px;
}

.amplify-table.dark > thead > tr > th {
  color: white;
  border-color: #00c9ff;
  border-width: 2px;

}
.amplify-table.dark > tbody > tr > td {
  color: white;
  border-color: #5b6568;
  border-width: 1px;

}





.amplify-table__th, .amplify-table__td {
  border-top: none;
  border-right: none;
  border-left: none;
  margin: none;

}
.amplify-table > tbody > tr > td:last-child > svg {
  margin: auto;
  text-align: center;
  align-items: center;
}
.amplify-table > tbody > tr:hover > td {
  color: black;
}


/*  DARK THEME   */
.amplify-table__th.dark, .amplify-table__td.dark {
  border-width: 1px;

}

/* --------------------------------------*/

.amplify-table__body{
  border-right: none;
  border-left: none;
  padding: none;
 
}
.amplify-table__head > tr > th{
  margin-top: 0px;
  width: 100%;
}
.amplify-table__row{
  border-right: none;
  border-left: none;
  padding: none;
}



.amplify-scrollview {
  padding: none;
  width: 100%;
}


.amplify-table__th:first-child {
  text-align: left;
}

.amplify-table__row:not(:first-child) .amplify-table__th {
  border-top: none;
}

.amplify-table__row:not(:last-child) .amplify-table__th {
  border-bottom: none;
}

.amplify-table__caption {
  caption-side: top;
  border-right: none;
  border-left: none;
  text-align: left;
}




.smallColumn {
    width: 5%;
}
  
.largeColumn {
    width: 90%;
}

.centerContent {
    align-items: center;
  }


  .flag {
    transform: translateY(3px);
  }


.amplify-card {
  background-color: #fff!important;
}
.amplify-card.dark{
  background-color: #083450!important;

}