

.footer {
    padding: 30px;
    padding-left: 290px;
    text-align: right;
    
}

.footer.dark {
    background-color: #1a223f;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .footer {
        padding: 30px;
        padding-left: 20px;
        text-align: center;
    }
}
