



.amplify-card.light {
  background: #FAFAFA;
  position: relative;
  background-size: cover;
  background-position: center;

}
.amplify-card.dark {
  
  background: #1A223F;
  position: relative;
  background-size: cover;
  background-position: center;



}
.title{
 background: #FAFAFA!important;
}
.title.dark {
  background: #1A223F!important;
}

.vessel-card {
    position: relative;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    border:#0f111d px solid;
    box-shadow:#1a1c28 0px 0px 3px;
    overflow: hidden;

  }

  .vessel-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at center, transparent, #0f111d86);    z-index: 1;
    transition: transform 3s ease-in-out; /* Adjust the duration as needed */

  }
  .vessel-card:hover::after {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }
  

  .vessel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 8px;
    border-bottom: 2px solid #00c9ff;
    margin: 0;
  }
  .vessel-header > div {
    display: flex;
    align-items: center;
  }
  .vessel-header > div > p,
  .vessel-header > .veseel-header-imo {
  margin: 0;
  padding: 0;

}


  .vessel-header, .vessel-info, .additional-info, .vessel-footer {
  position: relative;
  z-index: 2;
}

  .vessel-header > p {
    margin: 0;
    font-size: 17px;
  }
  

  
  .vessel-info {
    transition: all 0.3s ease-in-out;
  }
  

  .additional-info {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .vessel-card:hover .additional-info {
    opacity: 1;
  }


  /* FOOTER */

  .vessel-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px; /* Adjust the space as needed */
    padding: 10px 0;
    position: absolute;
    bottom: 0;
  }
  
  .footer-button {
    display: flex!important;
    align-items: center;
    
    padding:4px 13px;
    border: 2px solid #d9d9d6; /* Coral color */
    border-radius: 15px;
    color: #f6f6f5; /* Coral color */
    background-color: transparent;
    font-size: 1rem!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .footer-button > p {
    margin: 0;
    margin-left: 6px;
    padding: 0;
  }
  .footer-button:hover {
    background-color: #082b40e8; /* Coral color */
    color: #fff;
    border: 1px solid #00c9ff;
  }